<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Wcf_WebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="NAMESPACE.AjaxAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
   <!-- <serviceHostingEnvironment multipleSiteBindingsEnabled="true" /> -->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />

    <services>
      <service name="NAMESPACE.SERVICECLASS">
        <endpoint address="" behaviorConfiguration="NAMESPACE.AjaxAspNetAjaxBehavior"
            binding="webHttpBinding" contract="NAMESPACE.SERVICECLASS" />
      </service>
    </services>
    
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
 <applicationSettings>
  <Wcf_WebService.Properties.Settings>
   <setting name="Wcf_WebService_serviceApp_Service1" serializeAs="String">
    <value>http://localhost:1500/Service1.svc</value>
   </setting>
  </Wcf_WebService.Properties.Settings>
 </applicationSettings>
</configuration>
